* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  padding: 0px;
}

body {
  background-color: #dfdede;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}

.kalkulator {
  padding: 16px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(4, 68px);
}

.kalkulator p {
  padding: 25px 0 25px 0;
  width: 100px;
  font-size: 16px;
}

input {
  height: 100px;
  border: none;
  width: 270px;
  grid-column: span 4;
  border-radius: 12px;
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}

button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

button.angka {
  width: 260px;
  border-radius: 45px;
}

.switch {
  width: 100px;
  margin-left: 50px;
  font-size: 12px;
}
